/*--------------------------------------------------------------
# Theme Base Colors
--------------------------------------------------------------*/
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/*--------------------------------------------------------------
# Brand Colors
--------------------------------------------------------------*/
$color_brand_blue_light: rgb(0,155,219);
$color_brand_blue_dark: rgb(51,58,77);
$color_brand_white: rgb(255,255,255);
$color_brand_black: rgb(67,67,67);
$color_brand_red: rgb(234,33,45);
$color_brand_grey_light: rgb(133,133,133);
$color_brand_grey_light2: rgb(172,172,172);
$color_blue_grey: rgb(59,64,77);